<%= render "shared/filter" %>

<div class="flex-container">
  <div class="card-container">
    <% @flats.each do |flat| %>
    <div class="col-xs-6">
      <%= link_to flat_path(flat) do %>

      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(
        <% if flat.primary_picture_url %>
        <%= flat.primary_picture_url %>
        <% else %>
        <%= "https://a0.muscache.com/4ea/air/v2/pictures/5fc9f2c6-271a-45b5-bdc9-807edeefbd87.jpg?t=r:w2500-h1500-sfit,e:fjpg-c90" %>
        <% end %>);">

        <div class="card-description">
          <h2> <%= flat.name %> </h2>
        </div>

        <div class="card-info">
          <p> <i class="fas fa-euro-sign"></i>  <%= flat.price_per_night %><i class="fas fa-user"></i>  <%= flat.number_of_guests %></p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>

    <div id="map" class="map-sticky" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
