<div class="filter">
    <%= form_tag flats_path, method: :get, class: "input-form" do %>
    <%= text_field_tag :address,
      params[:address],
      class: "form-center",
      placeholder: "Location" %>
    <%= text_field_tag :min_price,
      params[:min_price],
      class: "form-center",
      placeholder: "min price" %>
    <%= text_field_tag :max_price,
      params[:max_price],
      class: "form-center",
      placeholder: "max price" %>
    <%= text_field_tag :guests,
      params[:guests],
      class: "form-center",
      placeholder: "Guests" %>
    <%= submit_tag("filter", :id=>"button-size", :class=>"btn-medium", :name=>"submit") %>
    <% end %>
</div>
