<div class="justitita-box">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">

      <%= simple_form_for @flat do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :price_per_night %>
      <%= f.input :number_of_guests%>
      <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id} %>
      <%= f.input :address %>

      <%= f.simple_fields_for :pictures do |p| %>
        <div id=image-fields>

          <div>
            <label class='form-control-label' for='Picture'> Primary picture </label>
            <%= p.file_field :picture %>
            <%= p.input :picture_cache, as: :hidden %>
          </div>
          <div>
            <label class='form-control-label' display=> Supporting pictures </label>
            <div id="secondary-images">
            </div>
            <div>
              <button type="button" class="btn btn-success" id="more-pictures-button">Add more pictures</button>
            </div>
          </div>
        </div>
      <% end %>

      <%= f.submit "Add a flat", class: "btn btn-lg btn-danger" %>

      <% end %>

    </div>
  </div>
</div>



