<h2>Edit your pictures</h2>
  <div class="justitia-user-form justitita-box">
    <div class="row">
      <% if  @flat.pictures.first.nil? %>
      OOOH NOOOOOHHHH! You do not have any pictures yet! Please add some pictures above, my love.
      <%end %>
      <% @flat.pictures.each do |picture|%>
      <div class="col-xs-4">
        <div data-picture-id=<%= picture.id %> class="edit-image-container">
          <%= cl_image_tag(picture.url,
          width: 400, height: 300, crop: :fill) %>
          <% if picture.is_primary? %>
          <span class="badge top-right-badge">Primary</span>
          <%end %>
        </div>
        <div class="edit-picture-footer" data-picture-id=<%= picture.id %>>
          <%= link_to picture_path(picture), method: :delete, remote: true, data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-trash-alt"></i><span class="delete-image black-text">Delete image</span>
          <% end %>
          <% if !picture.is_primary? %>
          <%= link_to make_primary_path(picture), method: :patch, remote: true, data: { confirm: "Are you sure?" }  do %>
          <i class="fas fa-edit"></i><span class="main-image black-text">Change to primary</span>
          <% end %>
          <%end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

