

<div class="container">
  <div class="row">
      <h1>Manage your Flats</h1>

      <% @flats.each do |flat| %>

    <div class="col-xs-12">
      <div class="message justitia-user-form justitita-box">
        <% if flat.primary_picture_url %>
        <%= cl_image_tag flat.primary_picture_url, class: "img-size" %>
          <% else %>
        <%= image_tag "https://vignette.wikia.nocookie.net/theislands/images/f/fd/House_placeholder.jpg/revision/latest?cb=20140101201028", class: "img-size" %>
        <% end %>
        <div class="message-body">
          <h3> <%= flat.name %> </h3>
          <p><%= flat.address %></p>
        </div>
        <div class="status">
          <p>Confirmed bookings: 5</p>

        </div>
        <div class="message-status">
          <%= link_to "Edit", edit_flat_path(flat), class: "btn-medium" %>
          <%= link_to "Manage my booking", "#", class: "btn-medium" %>
          <%#= link_to "Edit", edit_flat_path(@flat), class: "btn btn btn-outline-info" %>
          <%#= link_to "Manage your booking", bookings_path, class: "btn btn-outline-light" %>
        </div>

        <div class="container-notification">
          <img class="notification" src="https://www.colorcombos.com/images/colors/FC7405.png">
          <p id="number-notification">3</p>
        </div>


      </div>
    </div>
        <% end %>
  </div>
</div>


